html{
    font-size: 62.5%;
    box-sizing: border-box;
}

/* Scrool Snap*/

*, *:before, *:after{  /* Hack para Box Model */
    box-sizing: inherit;
}

body{
    width: 100%;
    height: 100vh;
    background: center;
    font-size: 16px;
    font-family: "Carlito", sans-serif;
    box-sizing: border-box;
    background-color: rgb(255, 255, 255);
    background-size: cover;
    background-repeat: no-repeat;
    margin: 0;
    

}
header{
    width: 100%;
    height: auto;
    display: flex;
    justify-content:center;
    align-items: center;
}
/* PARTE SUPERIOR DEL PROYECTO*/
.superior{
background-color: rgb(127, 30, 239);
width: 40%;
height: 90px;
display: flex;
align-items: center;
justify-content: space-between;
border-radius: 10px;

}
/* FOTO PERSONA*/
.user{
    width: 40px;
    height: 40px;
    border-radius: 50%;
    background-image: url(./img/selfie.png);
    display: flex;
    justify-content:center;
    align-items: center;
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    margin: 6px;
    margin-top: 2%;
}

.foto{
    display: flex;
    align-items: center;
    margin: 10px;

    
}
/* FOTO PERSONA*/

.nombres{
    display: flex;
    justify-content: center;
  flex-direction: column;
  color: white;
}

h2,p {
    margin: 0;
}


/* PARTE BUSQUEDA DEL PROYECTO*/

.busqueda{
    width: 40%;
    height:40px;
    display: flex;
    align-items: center;
    justify-content: end;
    gap: 2px;
    margin: 10px;
   
}

.search{
    display: flex;
    width: 70%;
    height: 40px;
    border-radius:10px ;
    outline: none;
    border: none;
}
/* PARTE BUSQUEDA DEL PROYECTO*/


/* PARTE MEDIA  DEL PROYECTO*/
main{
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    
}


.cardi{
    width: 40%;
background-color: rgb(243, 243, 243);
height: 350px;
display: flex;
align-items: center;
justify-content:center;
box-shadow: 1px 1px 1px rgb(175, 175, 175);
flex-direction: column;
border-radius: 20px 20px 0 0;
flex-wrap: wrap;
overflow-x: scroll;
padding-right: 12px;
}

.all{
    width: 60%;
    height: 40px;
    display: flex;
   align-items: center;
   justify-content:space-around;
}

.ali{
    margin: 4px;
}
.icone{
    display: flex;
    align-items: center;
    gap: 10px;
}
.iconi{
    margin: 4px;

}
.tarjeta{
    width: 90%;
    height: 310px;
    background: linear-gradient(to left, #020203, #760afa);
    background-size: cover;
    background-position: center;
    border-radius: 40px ;
    margin: 20px;

}
.tarjeta:hover{
    transition: transform 1s;
    transform:scale(1.1);
}
.tarjetaD{
    width: 100%;
    height: 50%;
    background-color: rgb(125, 41, 221);
    background: linear-gradient(to left, #1d1321, #760afa);
    box-shadow: 1px 1px 1px rgb(116, 116, 116);
    border-radius: 40px 40px 0 0;
    display: flex;
    align-items: center;

}
.master{
    display: flex;
    align-items: center;
    justify-content: space-around;
    color: white;


}

.exp{
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
  
}
.mas{
    margin-top: 25px;
}

h4{
    position: relative;
    margin: 0;
    margin-top: 40px;
}
.hel, .hol,.hul{
    color: white;
}

.tarjetae{
    width: 90%;
    height: 310px;
    background: linear-gradient(to left, #9b7f3b, #312b19);
    background-size: cover;
    background-position: center;
    box-shadow: 10px 10px 10px rgb(175, 175, 175);
    border-radius: 40px;
    margin: 20px;
    justify-content: center;

    
}

.tarjetae:hover{
    transition: transform 1s;
    transform:scale(1.1);
}

.tarjetad{
    width: 100%;
    height: 50%;
    background-color: rgb(230, 219, 66);
    background: linear-gradient(to left, #fcc845, #312b19);
    box-shadow: 1px 1px 1px rgb(116, 116, 116);
    border-radius: 40px 40px 0 0;
    display: flex;
    align-items: center;
    justify-content: center;

}


.numero{
    margin-left: 20%;
    color: white;
}

.rojo{
    width: 50px;
    height: 50px;
    border-radius: 50%;
    background-color: red;
    position: relative;
    margin-left: 40px;
}
.amarillo{
    width: 50px;
    height: 50px;
    border-radius: 50%;
    background-color: rgb(198, 178, 0);
  opacity: 50%;
    position: relative;
    margin-left: 20px;
    
}

.balances{
    width: 40%;
    background-color: rgb(243, 243, 243);
    display: flex;
    justify-content: left;
    flex-direction: column;
    margin-top: 20%;
    color: black;
    box-shadow: 1px 1px 1px rgb(175, 175, 175);
     border-radius: 0 0 20px 20px;
     margin: 0;
    
}

.balance{
    display: flex;
    margin-top: 10px;
    margin-left: 10px;
}
.dinero{
    margin-left: 10px;

}
h1{
    font-size: 40px;
    margin: 0;
}
/* PARTE MEDIA  DEL PROYECTO*/

.transac{
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
 
}

.transacciones{
    width: 100%;
    height: 220px;
    background-color: rgb(243, 243, 243);
    box-shadow: 4px 1px 4px 4px rgb(175, 175, 175);
    border-radius: 20px;
    margin-top: 10px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    overflow-y: scroll;

}

.uno{
    width: 100%;
    height: 70px;
    border-radius: 15px;
    background-color: rgb(229, 226, 226);
    box-shadow: 1px 1px 1px 1px rgb(175, 175, 175);
    margin: 10px;
}
.cuadro{
    width: 15%;
    height: 60px;
    border-radius: 15px;
    background-color: rgb(0, 0, 0);
    box-shadow: 1px 1px 1px 1px rgb(175, 175, 175);
    margin: 5px;
   
}
.cepa{
    display: flex;
    
}
.uber{
    display: flex;
    justify-content: center;
    flex-direction: column;
}

.page{
    color: rgb(6, 177, 6);
}
.lastt{
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-around;
}

.dinecepa{ 
 width: 100%;
 display: flex;
 align-items: center;
 justify-content: space-between;
 margin: 4px;
}
/* ADAPTACIÓN AL TELEFONO */
@media (max-width: 480px) {
.superior{
    width: 100%;
    min-width: 400px;  
   
}
 .cardi{
    width: 100%;
    height: 400px;
    min-width: 400px;

 }
.balances{
    width: 95%;
    min-width: 400px;
}
}

@media (max-width: 480px) {
    .tarjeta{
        height: 240px;
        
    }
    .tarjetae{
        height: 250px;
    }
   

}
@media (max-width: 480px) {
    .numero{
        font-size: 12px;
       
    }
}


@media (max-width: 480px) {
    .all{
       width: 100%;
       display: flex;
       justify-content: space-between;
    }
   }
@media (max-width: 480px) {
    .cuadro{
        width: 20%;
        display: flex;
        justify-content: center;
        align-items: center;
    }

    .cuadro :nth-child(1){
        color: white;
    }
}
/*ADAPTACION PARA TABLETS*/
@media (min-width: 768px) {
.superior{
    width: 70%;
    min-width: 400px;
}
 .cardi{
    width: 70%;
    min-width: 400px;
    padding-right: 7px;
 }
.balances{
    width: 70%;
    min-width: 400px;
}
}

@media (min-width: 768px) {
    .cuadro{
        width: 15%;
        height: 60px;
        display: flex;
        justify-content: center;
        align-items: center;
    }

    .cuadro :nth-child(1){
        color: white;
    }
}
 
/*ADAPTACION PARA COMPUTADORAS */
@media (min-width:1400px) {
.superior{
    width: 40%;
    min-width: 400px;
}
 .cardi{
    width: 40%;
    min-width: 400px;
    padding-right: 1.0PX

 }
.balances{
    width: 40%;
    min-width: 400px;
}
}
